{% extends 'base.html.twig' %}

{% block title %}Utilisateur!{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{path('user_register')}}" class="btn btn-primary my-5">Ajouter un utilisateur</a>
        <div class="row">
            {% for user in users %}
            <div class="col-md-4 col-12">
                <div class='card'>
                    <div class="card-header">
                        <h2 class='card-title'>{{user.email}}</h2>
                    </div>
                    <div class="card-body">
                        {% for role in user.roles %}
                        <p>{{role}}</p>
                        {% endfor %}
                    </div>
                    <div class="card-footer">
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{path('user_register',{id: user.id})}}" class="btn btn-primary">Editer</a>
                        <a href="{{path('user_delete',{id: user.id})}}" class="btn btn-danger">Supprimer</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
   </div>
{% endblock %}
