{% extends 'base.html.twig' %}

{% block title %}Accueil!{% endblock %}

{% block body %}
   <div class="container my-5">
        <div class="row">
            {% for ville in villelist %}
            <div class="col-md-4 col-12">
                <div class='card'>
                    <div class="card-header">
                        <h2 class='card-title'>{{ville.nom}}</h2>
                    </div>
                    <div class="card-body">
                        <img src="{{ville.image}}" class="img-fluid" alt="{{ville.nom}}">
                        <p>Population: {{ville.population}}</p>
                        <p>Département: {{ville.departement.nom}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
   </div>
{% endblock %}
