{% extends 'base.html.twig' %}

{% block title %}Département!{% endblock %}

{% block body %}
  <div class="container">
        <a href="{{path('departement_gestion')}}" class="btn btn-primary my-5">Ajouter un département</a>
        <div class="row">
            {% for departement in departements %}
            <div class="col-md-4 col-12">
                <div class='card'>
                    <div class="card-header">
                        <h2 class='card-title'>{{departement.nom}}</h2>
                    </div>
                    <div class="card-body">
                        <p>Code département: {{departement.code}}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{path('departement_gestion',{slug: departement.slug})}}" class="btn btn-primary">Editer</a>
                        <a href="{{path('departement_delete',{slug: departement.slug})}}" class="btn btn-danger">Supprimer</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
   </div>
{% endblock %}
