{% extends 'base.html.twig' %}

{% block title %}Hello VilleController!{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{path('ville_gestion')}}" class="btn btn-primary my-5">Ajouter une ville</a>
        <div class="row">
            {% for ville in villelist %}
            <div class="col-md-4 col-12">
                <div class='card'>
                    <div class="card-header">
                        <h2 class='card-title'>{{ville.nom}}</h2>
                    </div>
                    <div class="card-body">
                        <img src="{{ville.image}}" class="img-fluid" alt="{{ville.nom}}">
                        <p>Population: {{ville.population}}</p>
                        <p>Département: {{ville.departement.nom}}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{path('ville_gestion',{slug: ville.slug})}}" class="btn btn-primary">Editer</a>
                        <a href="{{path('ville_delete',{slug: ville.slug})}}" class="btn btn-danger">Supprimer</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
   </div>
{% endblock %}
